.home {
  text-align: center;
  color: blue;
  margin-top: 200px;
  font-size: 40px;
  width: 750px;
  margin: 0 auto;
  background: gray;
}
button {
  width: 200px;
  height: 100px;
  margin-top: 200px;
  background: red;
  font-size: 34px;
  margin-left: 200px;
}
